<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Профайл пользователя.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="zdimon77@gmail.com">

    <!-- Le styles -->
    <link rel="stylesheet" href="/theme/css/bootstrap.min.css" type="text/css" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .tag-1 {
        font-size: 13pt;
      }
      .tag-2 {
        font-size: 10pt;
      }
      .tag-2 {
        font-size: 8pt;
      }
      .tag-4 {
        font-size: 6pt;
     }
    </style>
    <link href="/theme/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/theme/css/font-awesome.css" rel="stylesheet">

    <link href="/theme/css/pygments.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/theme/images/favicon.ico">
    <link rel="apple-touch-icon" href="/theme/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/theme/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/theme/images/apple-touch-icon-114x114.png">

    <link href="/" type="application/atom+xml" rel="alternate" title="Python tutorial ATOM Feed" />

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/index.html">Python tutorial </a>
          <div class="nav-collapse">
            <ul class="nav">
                  <li >
                    <a href="/category/oshibki.html">
						<i class="icon-folder-open icon-large"></i>Ошибки
					</a>
                  </li>
                  <li >
                    <a href="/category/raznoe.html">
						<i class="icon-folder-open icon-large"></i>Разное
					</a>
                  </li>
                  <li >
                    <a href="/category/tips.html">
						<i class="icon-folder-open icon-large"></i>tips
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-1.html">
						<i class="icon-folder-open icon-large"></i>Урок 1
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-10.html">
						<i class="icon-folder-open icon-large"></i>Урок 10
					</a>
                  </li>
                  <li class="active">
                    <a href="/category/urok-11.html">
						<i class="icon-folder-open icon-large"></i>Урок 11
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-12.html">
						<i class="icon-folder-open icon-large"></i>Урок 12
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-13.html">
						<i class="icon-folder-open icon-large"></i>Урок 13
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-2.html">
						<i class="icon-folder-open icon-large"></i>Урок 2
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-3.html">
						<i class="icon-folder-open icon-large"></i>Урок 3
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-4.html">
						<i class="icon-folder-open icon-large"></i>Урок 4
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-5.html">
						<i class="icon-folder-open icon-large"></i>Урок 5
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-6.html">
						<i class="icon-folder-open icon-large"></i>Урок 6
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-7.html">
						<i class="icon-folder-open icon-large"></i>Урок 7
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-8.html">
						<i class="icon-folder-open icon-large"></i>Урок 8
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-9.html">
						<i class="icon-folder-open icon-large"></i>Урок 9
					</a>
                  </li>

                          <ul class="nav pull-right">
                                <li><a href="/archives.html"><i class="icon-th-list"></i>Archives</a></li>
                          </ul>

            </ul>
            <!--<p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="span9" id="content">
<section id="content">
        <article>
                <header>
                        <h1>
                                <a href=""
                                        rel="bookmark"
                                        title="Permalink to Профайл пользователя.">
                                        Профайл пользователя.
                                </a>
                        </h1>
                </header>
                <div class="entry-content">
                <div class="well">
<footer class="post-info">
<span class="label">Date</span>
<abbr class="published" title="2015-02-11T00:00:00+01:00">
        <i class="icon-calendar"></i>ср 11 лютий 2015
</abbr>
<span class="label">By</span>
<a href="/author/zdimon77gmailcon.html"><i class="icon-user"></i>zdimon77@gmail.con</a>
<span class="label">Category</span>
<a href="/category/urok-11.html"><i class="icon-folder-open"></i>Урок 11</a>.


<span class="label">Tags</span>
	<a href="/tag/python.html"><i class="icon-tag"></i>python</a>
	<a href="/tag/tutorial.html"><i class="icon-tag"></i>tutorial</a>
	<a href="/tag/tests.html"><i class="icon-tag"></i>tests</a>
</footer><!-- /.post-info -->                </div>
                <p>Requirements.</p>
<div class="highlight"><pre>sorl-thumbnail<span class="o">==</span>11.12
django-image-cropping<span class="o">==</span>1.0.0
easy-thumbnails<span class="o">==</span>2.1
django-resized
<span class="nv">Pillow</span><span class="o">==</span>2.5.1
</pre></div>
<p>Создадим модель пользователя, унаследовав от ждангового класса в blog/models.py.</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.db</span> <span class="kn">import</span> <span class="n">models</span>
<span class="kn">from</span> <span class="nn">easy_thumbnails.files</span> <span class="kn">import</span> <span class="n">get_thumbnailer</span>
<span class="kn">from</span> <span class="nn">image_cropping</span> <span class="kn">import</span> <span class="n">ImageRatioField</span>
<span class="kn">from</span> <span class="nn">django.contrib.auth.models</span> <span class="kn">import</span> <span class="n">User</span><span class="p">,</span> <span class="n">UserManager</span>
<span class="kn">from</span> <span class="nn">django.utils.safestring</span> <span class="kn">import</span> <span class="n">mark_safe</span>

<span class="k">class</span> <span class="nc">UserProfile</span><span class="p">(</span><span class="n">User</span><span class="p">):</span>
    <span class="n">image</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">ImageField</span><span class="p">(</span><span class="n">upload_to</span><span class="o">=</span><span class="s">&#39;profile_images&#39;</span><span class="p">,</span> <span class="n">verbose_name</span><span class="o">=</span><span class="s">&#39;Image&#39;</span><span class="p">,</span> <span class="n">blank</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
    <span class="n">cropping</span> <span class="o">=</span> <span class="n">ImageRatioField</span><span class="p">(</span><span class="s">&#39;image&#39;</span><span class="p">,</span> <span class="s">&#39;100x100&#39;</span><span class="p">)</span>
    <span class="k">def</span> <span class="nf">thumb</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="n">thumbnail_url</span> <span class="o">=</span> <span class="n">get_thumbnailer</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">image</span><span class="p">)</span><span class="o">.</span><span class="n">get_thumbnail</span><span class="p">({</span>
            <span class="s">&#39;size&#39;</span><span class="p">:</span> <span class="p">(</span><span class="mi">100</span><span class="p">,</span> <span class="mi">100</span><span class="p">),</span>
            <span class="s">&#39;box&#39;</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span class="n">cropping</span><span class="p">,</span>
            <span class="s">&#39;crop&#39;</span><span class="p">:</span> <span class="bp">True</span><span class="p">,</span>
        <span class="p">})</span><span class="o">.</span><span class="n">url</span>
        <span class="k">return</span> <span class="n">mark_safe</span><span class="p">(</span><span class="s">u&#39;&lt;img src=&quot;</span><span class="si">%s</span><span class="s">&quot; /&gt;&#39;</span> <span class="o">%</span> <span class="n">thumbnail_url</span><span class="p">)</span>
    <span class="n">objects</span> <span class="o">=</span> <span class="n">UserManager</span><span class="p">()</span>


<span class="kn">from</span> <span class="nn">django.db.models.signals</span> <span class="kn">import</span> <span class="n">post_save</span>

<span class="k">def</span> <span class="nf">create_custom_user</span><span class="p">(</span><span class="n">sender</span><span class="p">,</span> <span class="n">instance</span><span class="p">,</span> <span class="n">created</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
    <span class="k">if</span> <span class="n">created</span><span class="p">:</span>
        <span class="n">values</span> <span class="o">=</span> <span class="p">{}</span>
        <span class="k">for</span> <span class="n">field</span> <span class="ow">in</span> <span class="n">sender</span><span class="o">.</span><span class="n">_meta</span><span class="o">.</span><span class="n">local_fields</span><span class="p">:</span>
            <span class="n">values</span><span class="p">[</span><span class="n">field</span><span class="o">.</span><span class="n">attname</span><span class="p">]</span> <span class="o">=</span> <span class="nb">getattr</span><span class="p">(</span><span class="n">instance</span><span class="p">,</span> <span class="n">field</span><span class="o">.</span><span class="n">attname</span><span class="p">)</span>
        <span class="n">user</span> <span class="o">=</span> <span class="n">UserProfile</span><span class="p">(</span><span class="o">**</span><span class="n">values</span><span class="p">)</span>
        <span class="n">user</span><span class="o">.</span><span class="n">save</span><span class="p">()</span>

<span class="n">post_save</span><span class="o">.</span><span class="n">connect</span><span class="p">(</span><span class="n">create_custom_user</span><span class="p">,</span> <span class="n">User</span><span class="p">)</span>
</pre></div>
<p>Удалим и пересоздадим базу. При этом отказываясь создавать пользователя т.к. при этой попытке будет ошибка отсутствия таблицы профайла.
Поэтому перед созданием суперпользователя нужно запустить миграцию.</p>
<div class="highlight"><pre>./manage.py schemamigration blog --auto
rm db.sqlite3
./manage.py syncdb
./manage.py migrate
./manage.py createsuperuser
</pre></div>
<p>Создадим бэкенд, возвращающий в request нашу модель вместо джанговой <em>blog/auth.py</em>.</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">main.models</span> <span class="kn">import</span> <span class="n">UserProfile</span>
<span class="kn">from</span> <span class="nn">django.contrib.auth.backends</span> <span class="kn">import</span> <span class="n">ModelBackend</span>

<span class="k">class</span> <span class="nc">ProfileUserModelBackend</span><span class="p">(</span><span class="n">ModelBackend</span><span class="p">):</span>

    <span class="k">def</span> <span class="nf">get_user</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">user_id</span><span class="p">):</span>
        <span class="k">try</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">UserProfile</span><span class="o">.</span><span class="n">objects</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">pk</span><span class="o">=</span><span class="n">user_id</span><span class="p">)</span>
        <span class="k">except</span> <span class="bp">self</span><span class="o">.</span><span class="n">user_class</span><span class="o">.</span><span class="n">DoesNotExist</span><span class="p">:</span>
            <span class="k">return</span> <span class="bp">None</span>
    <span class="nd">@property</span>
    <span class="k">def</span> <span class="nf">user_class</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="n">UserProfile</span>
</pre></div>
<p>Переопределим в settins.py этот класс (по дефолту он ModelBackend).</p>
<div class="highlight"><pre><span class="n">AUTHENTICATION_BACKENDS</span> <span class="o">=</span> <span class="p">(</span>
    <span class="s">&#39;blog.auth.ProfileUserModelBackend&#39;</span><span class="p">,</span>
<span class="p">)</span>
</pre></div>
<p>Add to settings thumblail precessor.</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">easy_thumbnails.conf</span> <span class="kn">import</span> <span class="n">Settings</span> <span class="k">as</span> <span class="n">thumbnail_settings</span>
<span class="n">THUMBNAIL_PROCESSORS</span> <span class="o">=</span> <span class="p">(</span>
    <span class="s">&#39;image_cropping.thumbnail_processors.crop_corners&#39;</span><span class="p">,</span>
<span class="p">)</span> <span class="o">+</span> <span class="n">thumbnail_settings</span><span class="o">.</span><span class="n">THUMBNAIL_PROCESSORS</span>
</pre></div>
<p>Добавим в url.py обработку медиа файлов для dev режима сервера.</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.conf</span> <span class="kn">import</span> <span class="n">settings</span>
<span class="kn">from</span> <span class="nn">django.conf.urls.static</span> <span class="kn">import</span> <span class="n">static</span>
<span class="n">urlpatterns</span> <span class="o">+=</span> <span class="p">[</span>
<span class="p">]</span> <span class="o">+</span> <span class="n">static</span><span class="p">(</span><span class="n">settings</span><span class="o">.</span><span class="n">MEDIA_URL</span><span class="p">,</span> <span class="n">document_root</span><span class="o">=</span><span class="n">settings</span><span class="o">.</span><span class="n">MEDIA_ROOT</span><span class="p">)</span>
</pre></div>
<p>Выставим ссылку на редактирования профайла в шаблон.</p>
<div class="highlight"><pre> [...]
{% if user.is_authenticated %}
   <span class="nt">&lt;a</span> <span class="na">id=</span><span class="s">&quot;logout&quot;</span> <span class="na">href=</span><span class="s">&quot;{% url &#39;my_profile&#39; %}&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn-success pull-right&quot;</span><span class="nt">&gt;</span>Profile<span class="nt">&lt;/a&gt;</span>
   <span class="nt">&lt;a</span> <span class="na">id=</span><span class="s">&quot;logout&quot;</span> <span class="na">href=</span><span class="s">&quot;{% url &#39;logout&#39; %}&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn-success pull-right&quot;</span><span class="nt">&gt;</span>Logout<span class="nt">&lt;/a&gt;</span>
{% else %}
 [...]
</pre></div>
<p>Добавим в роутинг url на профайл.</p>
<div class="highlight"><pre><span class="n">url</span><span class="p">(</span><span class="s">r&#39;^accounts/profile/$&#39;</span><span class="p">,</span> <span class="s">&#39;main.views.profile&#39;</span><span class="p">,</span> <span class="n">name</span><span class="o">=</span><span class="s">&#39;my_profile&#39;</span><span class="p">),</span>
</pre></div>
<p>Create view function in blog/views.py file.</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.shortcuts</span> <span class="kn">import</span> <span class="n">render</span>
<span class="kn">from</span> <span class="nn">django.template</span> <span class="kn">import</span> <span class="n">loader</span><span class="p">,</span> <span class="n">RequestContext</span>
<span class="kn">from</span> <span class="nn">django.http</span> <span class="kn">import</span> <span class="n">HttpResponse</span><span class="p">,</span> <span class="n">HttpResponseRedirect</span>
<span class="kn">from</span> <span class="nn">django.shortcuts</span> <span class="kn">import</span> <span class="n">render_to_response</span><span class="p">,</span> <span class="n">get_object_or_404</span>
<span class="kn">from</span> <span class="nn">main.forms</span> <span class="kn">import</span> <span class="n">ProfileForm</span>
<span class="kn">from</span> <span class="nn">main.models</span> <span class="kn">import</span> <span class="n">UserProfile</span>
<span class="kn">from</span> <span class="nn">django.shortcuts</span> <span class="kn">import</span> <span class="n">redirect</span>
<span class="kn">from</span> <span class="nn">django.contrib.auth.decorators</span> <span class="kn">import</span> <span class="n">login_required</span>

<span class="c"># Create your views here.</span>
<span class="k">def</span> <span class="nf">index</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="n">context</span> <span class="o">=</span> <span class="p">{}</span>
    <span class="k">return</span> <span class="n">render_to_response</span><span class="p">(</span><span class="s">&#39;index.html&#39;</span><span class="p">,</span> <span class="n">context</span><span class="p">,</span> <span class="n">RequestContext</span><span class="p">(</span><span class="n">request</span><span class="p">))</span>

<span class="nd">@login_required</span>
<span class="k">def</span> <span class="nf">profile</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="n">profile</span> <span class="o">=</span> <span class="n">UserProfile</span><span class="o">.</span><span class="n">objects</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">pk</span><span class="o">=</span><span class="n">request</span><span class="o">.</span><span class="n">user</span><span class="o">.</span><span class="n">pk</span><span class="p">)</span>
    <span class="k">if</span> <span class="n">request</span><span class="o">.</span><span class="n">method</span> <span class="o">==</span> <span class="s">&#39;POST&#39;</span><span class="p">:</span>
        <span class="n">form</span> <span class="o">=</span> <span class="n">ProfileForm</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">POST</span><span class="p">,</span> <span class="n">request</span><span class="o">.</span><span class="n">FILES</span><span class="p">,</span> <span class="n">instance</span><span class="o">=</span><span class="n">profile</span><span class="p">)</span>
        <span class="k">if</span> <span class="n">form</span><span class="o">.</span><span class="n">is_valid</span><span class="p">():</span>
            <span class="n">form</span><span class="o">.</span><span class="n">save</span><span class="p">()</span>
        <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="s">&#39;my_profile&#39;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">form</span> <span class="o">=</span> <span class="n">ProfileForm</span><span class="p">(</span><span class="n">instance</span><span class="o">=</span><span class="n">profile</span><span class="p">)</span>
    <span class="n">context</span> <span class="o">=</span> <span class="p">{</span><span class="s">&#39;form&#39;</span><span class="p">:</span> <span class="n">form</span><span class="p">,</span> <span class="s">&#39;profile&#39;</span><span class="p">:</span>  <span class="n">profile</span><span class="p">}</span>
    <span class="k">return</span> <span class="n">render_to_response</span><span class="p">(</span><span class="s">&#39;profile.html&#39;</span><span class="p">,</span> <span class="n">context</span><span class="p">,</span> <span class="n">RequestContext</span><span class="p">(</span><span class="n">request</span><span class="p">))</span>
</pre></div>
<p>Create template file in main/templates/profile.html</p>
<div class="highlight"><pre> {% extends &#39;base.html&#39; %}
 {% load widget_tweaks %}
 {% load i18n %}


 {% block js %}
     {{ block.super }}
     {{ form.media }}
 {% endblock %}



 {% block bredcrumbs %}
         <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">&quot;pull-right breadcrumb&quot;</span><span class="nt">&gt;</span>
             <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">&quot;active&quot;</span><span class="nt">&gt;</span>{% trans &#39;Profile&#39; %}<span class="nt">&lt;/li&gt;</span>

         <span class="nt">&lt;/ul&gt;</span>
 {% endblock %}

 {% block content %}

 <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-md-12&quot;</span><span class="nt">&gt;</span>

  {{ p.title }}
  {{ p.content|safe }}


     <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;well&quot;</span><span class="nt">&gt;</span>

          {{ request.user.thumb }}

  <span class="nt">&lt;form</span> <span class="na">method=</span><span class="s">&quot;post&quot;</span> <span class="na">action=</span><span class="s">&quot;&quot;</span> <span class="na">enctype=</span><span class="s">&quot;multipart/form-data&quot;</span><span class="nt">&gt;</span>
                 <span class="nt">&lt;h2&gt;</span>{% trans &#39;My profile&#39; %}<span class="nt">&lt;/h2&gt;</span>

                 {% csrf_token %}


                 <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-body&quot;</span><span class="nt">&gt;</span>
                     <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group {%if form.email.errors %}alert alert-danger{%endif%}&quot;</span><span class="nt">&gt;</span>
                         {{ form.email.label_tag }}
                         <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;input-group&quot;</span><span class="nt">&gt;</span>
                             <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;input-group-addon&quot;</span><span class="nt">&gt;</span>
                                 <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">&quot;glyphicon-ok&quot;</span><span class="nt">&gt;&lt;/i&gt;</span>
                             <span class="nt">&lt;/span&gt;</span>
                            {{ form.email|add_class:&quot;form-control&quot; }}
                         <span class="nt">&lt;/div&gt;</span>
                         <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;error-block&quot;</span><span class="nt">&gt;</span>{{ form.email.help_text }}<span class="nt">&lt;/span&gt;</span>
                         <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;help-block&quot;</span><span class="nt">&gt;</span>{{ form.email.errors }}<span class="nt">&lt;/span&gt;</span>
                     <span class="nt">&lt;/div&gt;</span>
                 <span class="nt">&lt;/div&gt;</span>


                 <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-body&quot;</span><span class="nt">&gt;</span>
                     <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group {%if form.email.errors %}alert alert-danger{%endif%}&quot;</span><span class="nt">&gt;</span>
                         {{ form.first_name.label_tag }}
                         <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;input-group&quot;</span><span class="nt">&gt;</span>
                             <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;input-group-addon&quot;</span><span class="nt">&gt;</span>
                                 <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">&quot;glyphicon-ok&quot;</span><span class="nt">&gt;&lt;/i&gt;</span>
                             <span class="nt">&lt;/span&gt;</span>
                            {{ form.first_name|add_class:&quot;form-control&quot; }}
                         <span class="nt">&lt;/div&gt;</span>
                         <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;error-block&quot;</span><span class="nt">&gt;</span>{{ form.first_name.help_text }}<span class="nt">&lt;/span&gt;</span>
                         <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;help-block&quot;</span><span class="nt">&gt;</span>{{ form.first_name.errors }}<span class="nt">&lt;/span&gt;</span>
                     <span class="nt">&lt;/div&gt;</span>
                 <span class="nt">&lt;/div&gt;</span>



                 <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-body&quot;</span><span class="nt">&gt;</span>
                     <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group {%if form.email.errors %}alert alert-danger{%endif%}&quot;</span><span class="nt">&gt;</span>
                         {{ form.last_name.label_tag }}
                         <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;input-group&quot;</span><span class="nt">&gt;</span>
                             <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;input-group-addon&quot;</span><span class="nt">&gt;</span>
                                 <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">&quot;glyphicon-ok&quot;</span><span class="nt">&gt;&lt;/i&gt;</span>
                             <span class="nt">&lt;/span&gt;</span>
                            {{ form.last_name|add_class:&quot;form-control&quot; }}
                         <span class="nt">&lt;/div&gt;</span>
                         <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;error-block&quot;</span><span class="nt">&gt;</span>{{ form.last_name.help_text }}<span class="nt">&lt;/span&gt;</span>
                         <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;help-block&quot;</span><span class="nt">&gt;</span>{{ form.last_name.errors }}<span class="nt">&lt;/span&gt;</span>
                     <span class="nt">&lt;/div&gt;</span>
                 <span class="nt">&lt;/div&gt;</span>


                 <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-body&quot;</span><span class="nt">&gt;</span>
                     <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group {%if form.email.errors %}alert alert-danger{%endif%}&quot;</span><span class="nt">&gt;</span>
                         {{ form.image.label_tag }}


                            {{ form.image|add_class:&quot;form-control&quot; }}
                            {{ form.cropping }}

                         <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;error-block&quot;</span><span class="nt">&gt;</span>{{ form.image.help_text }}<span class="nt">&lt;/span&gt;</span>
                         <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;help-block&quot;</span><span class="nt">&gt;</span>{{ form.image.errors }}<span class="nt">&lt;/span&gt;</span>
                     <span class="nt">&lt;/div&gt;</span>
                 <span class="nt">&lt;/div&gt;</span>


                     <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;row&quot;</span><span class="nt">&gt;</span>
                         <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-md-12&quot;</span><span class="nt">&gt;</span>
                             <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">class=</span><span class="s">&quot;btn theme-btn&quot;</span> <span class="na">id=</span><span class="s">&quot;registration_save&quot;</span><span class="nt">&gt;</span>{% trans &#39;Save&#39; %}<span class="nt">&lt;/button&gt;</span>
                         <span class="nt">&lt;/div&gt;</span>
                     <span class="nt">&lt;/div&gt;</span>

             <span class="nt">&lt;/form&gt;</span>


        <span class="nt">&lt;div</span> <span class="na">style=</span><span class="s">&quot;clear: both&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
     <span class="nt">&lt;/div&gt;</span>

 <span class="nt">&lt;/div&gt;</span>


{% endblock %}
</pre></div>
<img alt="8" src="/images/11/5.png" style="width: 700px;" />

                </div><!-- /.entry-content -->
        </article>
</section>
        </div><!--/span-->

               

      </div><!--/row-->

      <hr>

      <footer>
        <address id="about">
                Proudly powered by <a href="http://pelican.notmyidea.org/">Pelican <i class="icon-external-link"></i></a>,
                                which takes great advantage of <a href="http://python.org">Python <i class="icon-external-link"></i></a>.
        </address><!-- /#about -->

        <p>The theme is from <a href="http://twitter.github.com/bootstrap/">Bootstrap from Twitter <i class="icon-external-link"></i></a>,
                   and <a href="http://fortawesome.github.com/Font-Awesome/">Font-Awesome <i class="icon-external-link"></i></a>, thanks!</p>
      </footer>

    </div><!--/.fluid-container-->



    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/theme/js/jquery-1.7.2.min.js"></script>
    <script src="/theme/js/bootstrap.min.js"></script>
  </body>
</html>