<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>I18n.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="zdimon77@gmail.com">

    <!-- Le styles -->
    <link rel="stylesheet" href="/theme/css/bootstrap.min.css" type="text/css" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .tag-1 {
        font-size: 13pt;
      }
      .tag-2 {
        font-size: 10pt;
      }
      .tag-2 {
        font-size: 8pt;
      }
      .tag-4 {
        font-size: 6pt;
     }
    </style>
    <link href="/theme/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/theme/css/font-awesome.css" rel="stylesheet">

    <link href="/theme/css/pygments.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/theme/images/favicon.ico">
    <link rel="apple-touch-icon" href="/theme/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/theme/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/theme/images/apple-touch-icon-114x114.png">

    <link href="/" type="application/atom+xml" rel="alternate" title="Python tutorial ATOM Feed" />

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/index.html">Python tutorial </a>
          <div class="nav-collapse">
            <ul class="nav">
                  <li >
                    <a href="/category/oshibki.html">
						<i class="icon-folder-open icon-large"></i>Ошибки
					</a>
                  </li>
                  <li >
                    <a href="/category/raznoe.html">
						<i class="icon-folder-open icon-large"></i>Разное
					</a>
                  </li>
                  <li class="active">
                    <a href="/category/tips.html">
						<i class="icon-folder-open icon-large"></i>tips
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-1.html">
						<i class="icon-folder-open icon-large"></i>Урок 1
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-10.html">
						<i class="icon-folder-open icon-large"></i>Урок 10
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-11.html">
						<i class="icon-folder-open icon-large"></i>Урок 11
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-12.html">
						<i class="icon-folder-open icon-large"></i>Урок 12
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-13.html">
						<i class="icon-folder-open icon-large"></i>Урок 13
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-2.html">
						<i class="icon-folder-open icon-large"></i>Урок 2
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-3.html">
						<i class="icon-folder-open icon-large"></i>Урок 3
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-4.html">
						<i class="icon-folder-open icon-large"></i>Урок 4
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-5.html">
						<i class="icon-folder-open icon-large"></i>Урок 5
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-6.html">
						<i class="icon-folder-open icon-large"></i>Урок 6
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-7.html">
						<i class="icon-folder-open icon-large"></i>Урок 7
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-8.html">
						<i class="icon-folder-open icon-large"></i>Урок 8
					</a>
                  </li>
                  <li >
                    <a href="/category/urok-9.html">
						<i class="icon-folder-open icon-large"></i>Урок 9
					</a>
                  </li>

                          <ul class="nav pull-right">
                                <li><a href="/archives.html"><i class="icon-th-list"></i>Archives</a></li>
                          </ul>

            </ul>
            <!--<p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="span9" id="content">
<section id="content">
        <article>
                <header>
                        <h1>
                                <a href=""
                                        rel="bookmark"
                                        title="Permalink to I18n.">
                                        I18n.
                                </a>
                        </h1>
                </header>
                <div class="entry-content">
                <div class="well">
<footer class="post-info">
<span class="label">Date</span>
<abbr class="published" title="2015-02-11T00:00:00+01:00">
        <i class="icon-calendar"></i>ср 11 лютий 2015
</abbr>
<span class="label">By</span>
<a href="/author/zdimon77gmailcon.html"><i class="icon-user"></i>zdimon77@gmail.con</a>
<span class="label">Category</span>
<a href="/category/tips.html"><i class="icon-folder-open"></i>Tips</a>.


<span class="label">Tags</span>
	<a href="/tag/python.html"><i class="icon-tag"></i>python</a>
	<a href="/tag/tutorial.html"><i class="icon-tag"></i>tutorial</a>
	<a href="/tag/tests.html"><i class="icon-tag"></i>tests</a>
</footer><!-- /.post-info -->                </div>
                <p>Set languages list and default language in settings.py.</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.utils.translation</span> <span class="kn">import</span> <span class="n">ugettext_lazy</span> <span class="k">as</span> <span class="n">_</span>
<span class="p">[</span><span class="o">...</span><span class="p">]</span>
<span class="n">LANGUAGES</span> <span class="o">=</span> <span class="p">(</span>
    <span class="p">(</span><span class="s">&#39;ru&#39;</span><span class="p">,</span> <span class="n">_</span><span class="p">(</span><span class="s">&#39;Russian&#39;</span><span class="p">)),</span>
    <span class="p">(</span><span class="s">&#39;en&#39;</span><span class="p">,</span> <span class="n">_</span><span class="p">(</span><span class="s">&#39;English&#39;</span><span class="p">)),</span>
<span class="p">)</span>
<span class="n">LANGUAGE_CODE</span> <span class="o">=</span> <span class="s">&#39;ru-ru&#39;</span>
</pre></div>
<p>Define locale path in settings.py.</p>
<div class="highlight"><pre><span class="n">LOCALE_PATHS</span> <span class="o">=</span> <span class="p">(</span>
        <span class="n">join</span><span class="p">(</span><span class="n">BASE_DIR</span><span class="p">,</span> <span class="s">&#39;locale&#39;</span><span class="p">),</span>
    <span class="p">)</span>
</pre></div>
<p>Make a language switcher in main template.</p>
<div class="highlight"><pre>{% get_current_language as LANGUAGE_CODE %}
        <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">&quot;nav navbar-nav&quot;</span> <span class="na">style=</span><span class="s">&quot;float: right&quot;</span><span class="nt">&gt;</span>
                {% if LANGUAGE_CODE == &#39;en&#39; %}
                <span class="nt">&lt;li&gt;</span>
                    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{% url &#39;main.views.change_language&#39; %}?language=hy&amp;next={{request.get_full_path}}&quot;</span><span class="nt">&gt;</span>
                       <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;{% static &quot;</span><span class="na">ru</span><span class="err">.</span><span class="na">png</span><span class="err">&quot;</span> <span class="err">%}&quot;</span> <span class="na">title=</span><span class="s">&quot;{% trans &#39;Russian&#39; %}&quot;</span> <span class="nt">/&gt;</span>
                    <span class="nt">&lt;/a&gt;</span>
                 <span class="nt">&lt;/li&gt;</span>
                {% endif %}

                {% if LANGUAGE_CODE == &#39;ru&#39; %}
                 <span class="nt">&lt;li&gt;</span>
                    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{% url &#39;main.views.change_language&#39; %}?language=en&amp;next={{request.get_full_path}}&quot;</span><span class="nt">&gt;</span>
                       <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;{% static &quot;</span><span class="na">uk</span><span class="err">.</span><span class="na">png</span><span class="err">&quot;</span> <span class="err">%}&quot;</span> <span class="na">title=</span><span class="s">&quot;{% trans &#39;English&#39; %}&quot;</span> <span class="nt">/&gt;</span>
                    <span class="nt">&lt;/a&gt;</span>
                <span class="nt">&lt;/li&gt;</span>
                {% endif %}
        <span class="nt">&lt;/ul&gt;</span>
</pre></div>
<p>Make a view.</p>
<div class="highlight"><pre><span class="k">def</span> <span class="nf">change_language</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="kn">from</span> <span class="nn">django.utils</span> <span class="kn">import</span> <span class="n">translation</span>
    <span class="kn">from</span> <span class="nn">django.conf</span> <span class="kn">import</span> <span class="n">settings</span>
    <span class="n">_next</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">REQUEST</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;next&#39;</span><span class="p">,</span> <span class="bp">None</span><span class="p">)</span>
    <span class="k">if</span> <span class="ow">not</span> <span class="n">_next</span><span class="p">:</span>
        <span class="n">_next</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">META</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">&#39;HTTP_REFERER&#39;</span><span class="p">,</span> <span class="bp">None</span><span class="p">)</span>

    <span class="k">if</span> <span class="ow">not</span> <span class="n">_next</span><span class="p">:</span>
        <span class="n">_next</span> <span class="o">=</span> <span class="s">&#39;/&#39;</span>
    <span class="c"># если уже есть языковой префикс URL, надо убрать его</span>
    <span class="k">for</span> <span class="n">supported_language</span> <span class="ow">in</span> <span class="n">settings</span><span class="o">.</span><span class="n">LANGUAGES</span><span class="p">:</span>
        <span class="n">prefix</span> <span class="o">=</span> <span class="s">&#39;/</span><span class="si">%s</span><span class="s">/&#39;</span> <span class="o">%</span> <span class="n">supported_language</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
        <span class="k">if</span> <span class="n">_next</span><span class="o">.</span><span class="n">startswith</span><span class="p">(</span><span class="n">prefix</span><span class="p">):</span>
            <span class="n">_next</span> <span class="o">=</span> <span class="n">_next</span><span class="p">[</span><span class="nb">len</span><span class="p">(</span><span class="n">prefix</span><span class="p">):]</span>
            <span class="k">break</span>
    <span class="n">language</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">REQUEST</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">u&#39;language&#39;</span><span class="p">,</span> <span class="bp">None</span><span class="p">)</span>
    <span class="k">if</span> <span class="n">_next</span> <span class="o">==</span> <span class="s">&#39;/&#39;</span><span class="p">:</span>
        <span class="n">response</span> <span class="o">=</span> <span class="n">HttpResponseRedirect</span><span class="p">(</span><span class="s">&#39;/&#39;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">response</span> <span class="o">=</span> <span class="n">HttpResponseRedirect</span><span class="p">(</span><span class="s">&#39;/</span><span class="si">%s</span><span class="s">/</span><span class="si">%s</span><span class="s">&#39;</span> <span class="o">%</span> <span class="p">(</span><span class="n">language</span><span class="p">,</span> <span class="n">_next</span><span class="p">))</span>

    <span class="k">if</span> <span class="nb">hasattr</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="s">&#39;session&#39;</span><span class="p">):</span>
        <span class="n">request</span><span class="o">.</span><span class="n">session</span><span class="p">[</span><span class="s">&#39;django_language&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="n">language</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">response</span><span class="o">.</span><span class="n">set_cookie</span><span class="p">(</span><span class="n">settings</span><span class="o">.</span><span class="n">LANGUAGE_COOKIE_NAME</span><span class="p">,</span> <span class="n">language</span><span class="p">)</span>

    <span class="n">translation</span><span class="o">.</span><span class="n">activate</span><span class="p">(</span><span class="n">language</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">response</span>
</pre></div>
<p>Make a url.</p>
<div class="highlight"><pre><span class="n">url</span><span class="p">(</span><span class="s">r&#39;^change_language/&#39;</span><span class="p">,</span> <span class="s">&#39;main.views.change_language&#39;</span><span class="p">,</span> <span class="n">name</span><span class="o">=</span><span class="s">&#39;change_language&#39;</span><span class="p">),</span>
</pre></div>
<p>Add the language indicator in urls.</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.conf.urls.i18n</span> <span class="kn">import</span> <span class="n">i18n_patterns</span>
<span class="p">[</span><span class="o">...</span><span class="p">]</span>

<span class="n">urlpatterns</span> <span class="o">=</span> <span class="n">patterns</span><span class="p">(</span><span class="s">&#39;&#39;</span><span class="p">,</span>
     <span class="n">url</span><span class="p">(</span><span class="s">r&#39;^$&#39;</span><span class="p">,</span> <span class="s">&#39;main.views.home&#39;</span><span class="p">,</span> <span class="n">name</span><span class="o">=</span><span class="s">&#39;home&#39;</span><span class="p">),</span>
<span class="p">)</span>

<span class="n">urlpatterns</span> <span class="o">+=</span> <span class="n">i18n_patterns</span><span class="p">(</span><span class="s">&#39;&#39;</span><span class="p">,</span>
     <span class="n">url</span><span class="p">(</span><span class="s">r&#39;^logout/$&#39;</span><span class="p">,</span> <span class="s">&#39;django.contrib.auth.views.logout&#39;</span><span class="p">,{</span><span class="s">&#39;next_page&#39;</span><span class="p">:</span> <span class="s">&#39;/&#39;</span><span class="p">},</span> <span class="n">name</span><span class="o">=</span><span class="s">&#39;logout&#39;</span><span class="p">),</span>

<span class="p">)</span>
</pre></div>
<p>Install rozetta.</p>
<div class="highlight"><pre>django-rosetta<span class="o">==</span>0.7.4
</pre></div>
<p>Add 'rosetta' to the INSTALLED_APPS in your project’s settings.py</p>
<p>Add an URL entry to your project’s urls.py, for example:</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.conf</span> <span class="kn">import</span> <span class="n">settings</span>

<span class="k">if</span> <span class="s">&#39;rosetta&#39;</span> <span class="ow">in</span> <span class="n">settings</span><span class="o">.</span><span class="n">INSTALLED_APPS</span><span class="p">:</span>
    <span class="n">urlpatterns</span> <span class="o">+=</span> <span class="n">patterns</span><span class="p">(</span><span class="s">&#39;&#39;</span><span class="p">,</span>
        <span class="n">url</span><span class="p">(</span><span class="s">r&#39;^rosetta/&#39;</span><span class="p">,</span> <span class="n">include</span><span class="p">(</span><span class="s">&#39;rosetta.urls&#39;</span><span class="p">)),</span>
    <span class="p">)</span>
</pre></div>
<p>Make messages files.</p>
<div class="highlight"><pre>mkdir locale
./manage.py makemessages -l en
./manage.py makemessages -l ru
</pre></div>
<p>Remake messages</p>
<div class="highlight"><pre>./manage.py makemessages --all
</pre></div>
<p>Compile message.</p>
<div class="highlight"><pre>./manage.py compilemessages
</pre></div>
<p>Suggestions.</p>
<div class="highlight"><pre><span class="n">ROSETTA_ENABLE_TRANSLATION_SUGGESTIONS</span> <span class="o">=</span> <span class="bp">True</span>
<span class="n">YANDEX_TRANSLATE_KEY</span> <span class="o">=</span> <span class="s">&#39;trnsl.1.1.20140521T130035Z.1014ae2799c685e3.97b1345108ab3a8520d96f730016a9dac947049b&#39;</span>
<span class="n">ROSETTA_MESSAGES_SOURCE_LANGUAGE_CODE</span> <span class="o">=</span> <span class="s">&#39;en&#39;</span>
<span class="n">ROSETTA_MESSAGES_SOURCE_LANGUAGE_NAME</span> <span class="o">=</span> <span class="s">&#39;English&#39;</span>
</pre></div>
<p><a class="reference external" href="http://localhost:8888/rosetta">http://localhost:8888/rosetta</a></p>

                </div><!-- /.entry-content -->
        </article>
</section>
        </div><!--/span-->

               

      </div><!--/row-->

      <hr>

      <footer>
        <address id="about">
                Proudly powered by <a href="http://pelican.notmyidea.org/">Pelican <i class="icon-external-link"></i></a>,
                                which takes great advantage of <a href="http://python.org">Python <i class="icon-external-link"></i></a>.
        </address><!-- /#about -->

        <p>The theme is from <a href="http://twitter.github.com/bootstrap/">Bootstrap from Twitter <i class="icon-external-link"></i></a>,
                   and <a href="http://fortawesome.github.com/Font-Awesome/">Font-Awesome <i class="icon-external-link"></i></a>, thanks!</p>
      </footer>

    </div><!--/.fluid-container-->



    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/theme/js/jquery-1.7.2.min.js"></script>
    <script src="/theme/js/bootstrap.min.js"></script>
  </body>
</html>